@font-face {
    font-family: RalewayRegular;
    src: url(/resources/font/RalewayRegular.ttf);
    src: url(/resources/font/RalewayRegular.eot) format('embedded-opentype'),
    url(/resources/font/RalewayRegular.woff) format('woff'),
    url(/resources/font/RalewayRegular.svg) format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'RalewayRegular', serif;
}

body {
    background: url("/resources/img/background.jpg") no-repeat;
    background-size: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50px;
    font-size: 14px;
    margin-bottom: 30px;
}

.headerItem {
    margin-left: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    width: 100%;
    color: black;
    margin-top: 20px;
}

.footerText {
    font-size: 16px;
    margin-right: 2%;
}

.footerFollow {
    margin-left: 2%;
    font-size: 16px;
}

.footerLogo {
    width: 30px;
    margin-top: 3px;
    margin-left: 20px;
}

.homePict {
    width: 25px;
}

.itemMainPage {
    width: 340px;
}

.item {
    opacity: 1;
    transition: opacity 0.75s ease-out;
    width: 340px;
    margin-bottom: 20px;
}

.item:hover {
    opacity: 0.65;
    transition: opacity 0.75s ease-in;
}

.hover {
    position: relative;
    top: -250px;
    z-index: 100;
    height: 0;
}

.betweenButtons {
    margin-bottom: 10px;
}

.arrow {
    position: relative;
    top: 50%;
}

.photoID {
    width: 450px;
    cursor: zoom-in;
}

.photoIDmini {
    width: 85px;
    position: relative;
    top: 30px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 22px;
    cursor: pointer;
}

.photoIDmodal {
    position: relative;
    top: -25px;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.close {
    position: relative;
    top: -20px;
    right: 10px;
    z-index: 2;
    font-size: 50px;
}

.logoID {
    width: 250px;
    margin-bottom: 10px;
}

.mainVideo {
    margin-top: -30px;
    width: 100%;
}

.carousel-inner {
    margin: 0;
}

.carousel-control-prev-icon {
    position: relative;
    left: 30px;
}

.carousel-control-next-icon {
    position: relative;
    right: 30px;
}

.carousel {
    min-height: 700px;
    padding-top: 15px;
}

.modal-dialog {
    margin-top: 0;
    max-width: none;
    padding: 0;
}

.mainTitle {
    font-weight: bold;
    font-size: 26px;
    margin-top: 20px;
}

.articleTitle {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
}

.articleText {
    text-align: justify;
    font-size: 16px;
}

.articlePhoto {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px;
}

.aboutUsPhoto {
    width: 340px;
}

.aboutUsText {
    text-align: justify;
    list-style-position: inside;
}

.emailTel {
    border-radius: unset;
    border-color: black;
}

.emailText {
    border-radius: unset;
    border-color: black;
}

.emailSendButton {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: none black;
    cursor: pointer;
}

.emailSendButton:active {
    background-color: gray;
}

.emailLabel {
    font-weight: bold;
}

.textBold {
    font-weight: bold;
}

.idText {
    text-align: justify;
    margin-top: 15%;
}

.landscapeHidden {
    display: none;
}

@media all and (orientation: portrait) {
    .logoID {
        width: 80%;
    }

    .header {
        flex-direction: column;
        font-size: 40px;
        height: 100%;
        padding-bottom: 10px;
        margin-bottom: 60px;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .headerItem {
        margin-top: 30px;
        margin-left: 0;
    }

    .homePict {
        width: 60px;
    }

    .articleTitle {
        font-size: 36px;
    }

    .articleText {
        font-size: 36px;
    }

    .mainTitle {
        font-size: 36px;
    }

    .itemMainPage {
        width: 100%;
        margin-bottom: 20px;
    }

    .aboutUsPhoto {
        width: 100%;
        margin-bottom: 20px;
    }

    .aboutUsText {
        font-size: 36px;
    }

    .contactsText {
        font-size: 36px;
        margin-left: 3%;
    }

    .emailTel {
        height: 100px;
        font-size: 36px;
    }

    .emailText {
        height: 200px;
        font-size: 36px;
    }

    .emailLabel {
        font-size: 36px;
    }

    .emailSendButton {
        width: 300px;
        height: 90px;
        font-size: 36px;
    }

    .landscapeHidden {
        display: flex;
    }

    .portraitHidden {
        display: none;
    }

    .photoID {
        width: 100%;
    }

    .photoIDmini {
        width: 25%;
        margin-top: 50px;
    }

    .idText {
        font-size: 36px;
    }

    .container {
        margin-left: 4%;
        margin-right: 4%;
        min-width: 92%;
    }

    .portraitWidth {
        min-width: 100%;
    }

    .footer {
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 30px;
        font-weight: bold;
        width: 100%;
    }

    .footerText {
        font-size: 36px;
        margin-right: 2%;
        margin-top: 10px;
    }

    .footerFollow {
        margin-left: 2%;
        font-size: 36px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .footerLogo {
        width: 60px;
        margin-top: 3px;
        margin-left: 40px;
    }
}
